body {
    background: linear-gradient(90deg, blue, white, red);
}

h1, p {
    font-family: "Lavishly Yours";
}

form, .story, h1 {
    text-align: center;
}

hr {
    margin-bottom: 1.5rem;
    width: 100%;
}

.story {
background-color: blanchedalmond;
border: solid;
margin-top: 1rem;
padding-bottom: -1rem;
border-width: 0.01rem;
box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.19), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.23);
line-height: 4.5rem;
}

button{
    text-align: center;
    margin-left: 372px;
    margin-bottom: 30px;
    }

button:hover{
    background-color: #eee;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
